@font-face {
    font-family: 'Mali';
    src: local('Mali ExtraLight Italic'), local('Mali-ExtraLightItalic'),
    url('../fonts/Mali-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/Mali-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali ExtraLight'), local('Mali-ExtraLight'),
    url('../fonts/Mali-ExtraLight.woff2') format('woff2'),
    url('../fonts/Mali-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali Light'), local('Mali-Light'),
    url('../fonts/Mali-Light.woff2') format('woff2'),
    url('../fonts/Mali-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali Light Italic'), local('Mali-LightItalic'),
    url('../fonts/Mali-LightItalic.woff2') format('woff2'),
    url('../fonts/Mali-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali Regular'), local('Mali-Regular'),
    url('../fonts/Mali-Regular.woff2') format('woff2'),
    url('../fonts/Mali-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali Regular Italic'), local('Mali-Regular-Italic'),
    url('../fonts/Mali-Italic.woff2') format('woff2'),
    url('../fonts/Mali-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali Medium'), local('Mali-Medium'),
    url('../fonts/Mali-Medium.woff2') format('woff2'),
    url('../fonts/Mali-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali Medium Italic'), local('Mali-MediumItalic'),
    url('../fonts/Mali-MediumItalic.woff2') format('woff2'),
    url('../fonts/Mali-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali SemiBold'), local('Mali-SemiBold'),
    url('../fonts/Mali-SemiBold.woff2') format('woff2'),
    url('../fonts/Mali-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali SemiBold Italic'), local('Mali-SemiBoldItalic'),
    url('../fonts/Mali-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Mali-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali Bold'), local('Mali-Bold'),
    url('../fonts/Mali-Bold.woff2') format('woff2'),
    url('../fonts/Mali-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali Bold Italic'), local('Mali-BoldItalic'),
    url('../fonts/Mali-BoldItalic.woff2') format('woff2'),
    url('../fonts/Mali-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali Bold'), local('Mali-Bold'),
    url('../fonts/Mali-Bold.woff2') format('woff2'),
    url('../fonts/Mali-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mali';
    src: local('Mali Bold Italic'), local('Mali-BoldItalic'),
    url('../fonts/Mali-BoldItalic.woff2') format('woff2'),
    url('../fonts/Mali-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


